label {
    margin: 10px;
    font-size: 1.5vw;
    color: #343a40;
}

table select {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    color: #666666;
    font-size: 1.5vw;
}

table {
    background-color: white;
    color: #343a40;
    margin: 10px;
    font-size: 1.5vw;
}

.form-input-item {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 4px;
}

.select {
    border: 1px solid #ced4da;
    border-radius: 0.25rem .5rem;
    padding: 5px;
}

.text-input {
    padding: 5px;
}

.glowing-border {
    border: 1px solid #ced4da;
    border-radius: 0.25rem .5rem;
}

.glowing-border:focus,
.glowing-border:hover {
    outline: none;
    border-color: #4f9cee;
    box-shadow: 0 0 10px #4f9cee;
}

.error-label {
    color: red;
    grid-column: 2/3;
}

.success-label {
    color: green;
    text-align: center;
    margin: 10px auto;
    display: block;
}

.add-button {
    float: right;
    margin-bottom: 10px;
}
