.container {
    margin: 0 auto;
    width: 60%;
}

.course-form-grid {
    display: grid;
}

.form-input-item {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 4px;
}

label {
    margin: 10px;
    font-size: 1.5vw;
    color: #343a40;
}

.select {
    border: 1px solid #ced4da;
    border-radius: 0.25rem .5rem;
    padding: 5px;
}

.text-input {
    padding: 5px;
}

.error-label {
    color: red;
    grid-column: 2/3;
}

.success-label {
    color: green;
    text-align: center;
    margin: 10px auto;
    display: block;
}

.submit-button {
    background: #ffffff;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    display: block;
    padding: 14px 69px;
    color: #666666;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 10px auto;
}

.submit-button:hover {
    outline: none;
    border-color: #b8bdc2;
    box-shadow: 0 0 10px #b8bdc2;
}

.upload-file {
    padding: 10px 0;
    color: #343a40;
}

.course-cover {
    max-height: 256;
    max-width: 256;
    justify-self: center;
    align-self: center;
}

.add-page-button {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    padding: 10px;
    color: #666666;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    float: right;
    width: 20%;
    text-align: center;
}

.add-page-button:hover {
    outline: none;
    border-color: #b8bdc2;
    box-shadow: 0 0 10px #b8bdc2;
}

table select {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    color: #666666;
    font-size: 1.5vw;
}

table {
    background-color: white;
    color: #343a40;
    margin: 10px;
    font-size: 1.5vw;
}
