table {
    background-color: white;
    color: #343a40;
    margin: 10px;
}

.table {
    font-size: 1.3vw;
}

label {
    margin: 10px;
    font-size: 1.5vw;
    color: #343a40;
}

.glowing-border {
    border: 1px solid #ced4da;
    border-radius: 0.25rem .5rem;
}

.glowing-border:focus,
.glowing-border:hover {
    outline: none;
    border-color: #4f9cee;
    box-shadow: 0 0 10px #4f9cee;
}

.add-course-button {
    background-color: #dddddd;
    color: #343a40;
    border-radius: 5% / 50%;
    top: 2px;
    bottom: 2px;
    right: -2px;
    left: -2px;
    float: right;
    font-size: 1.3vw;
}

.add-course-button:hover,
span a:hover {
    outline: none;
    border-color: #b8bdc2;
    box-shadow: 0 0 10px #b8bdc2;
}