.container {
    width: 65%;
    max-width: 1200px;
    margin: 0 auto;
}

.questions {
    margin: 10px 0;
}

.page-content-wrapper {
    margin: 20px;
}


/* не подстараивается под несколько строк! */

.variant {
    margin-left: 10px;
    height: 8vh;
    margin-top: 10px;
}

.part {
    text-align: center;
    font-size: calc(18px + .6vw);
    margin: 25px;
}

.correct {
    background-color: rgb(153, 223, 153);
}

.incorrect {
    background-color: rgb(223, 153, 153);
}

.user-answer {
    font-weight: bold;
}

.rate {
    float: left;
    height: 46px;
    padding: 0px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 45px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.input-label {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: calc(14px + .5vw);
    line-height: calc(16px + .5vw);
    margin: 5px 0px;
}

.d-button {
    font-size: 18px;
    min-width: 80px;
    display: inherit;
    color: #343a40;
}