table {
    background-color: white;
    color: #343a40;
    margin: 10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.table {
    font-size: 1.3vw;
}

label {
    margin: 10px;
    font-size: 1.5vw;
    color: #343a40;
}

.glowing-border {
    border: 1px solid #ced4da;
    border-radius: 0.25rem .5rem;
}

.glowing-border:focus,
.glowing-border:hover {
    outline: none;
    border-color: #4f9cee;
    box-shadow: 0 0 10px #4f9cee;
}

span a:hover {
    outline: none;
    border-color: #b8bdc2;
    box-shadow: 0 0 10px #b8bdc2;
}