.container {
    margin: 0 auto;
    width: 60%;
}

.page-form-grid {
    display: grid;
}

.add-question-button {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    padding: 10px;
    color: #666666;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    float: right;
    width: 20%;
    text-align: center;
}

.add-question-button:hover {
    outline: none;
    border-color: #b8bdc2;
    box-shadow: 0 0 10px #b8bdc2;
}

.readonly-input {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem .5rem;
}