label {
    color: #343a40;
}

input {
    padding: 5px;
    font-size: calc(12px + .5vw);
}

.container {
    width: 35%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.glowing-border {
    border: 1px solid #ced4da;
    border-radius: 0.25rem .5rem;
}

.glowing-border:focus,
.glowing-border:hover {
    outline: none;
    border-color: #4f9cee;
    box-shadow: 0 0 10px #4f9cee;
}

.background {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .05);
}

.error-label {
    color: red;
    grid-column: 2/3;
}

.success-label {
    color: green;
    text-align: center;
    margin: 10px auto;
    display: block;
}

.form-input-item {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
}

.submit-button {
    display: block;
    margin: 20px auto;
    color: #343a40;
    height: auto;
    padding: 0 35px;
    font-size: calc(14px + .5vw);
}