{% extends "main/base.html" %}

{% block title %}
{{ courses_type|title }} courses
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/datatables/datatables.min.css' %}" />
<link rel="stylesheet" href="{% static 'main/css/category_courses.css' %}" />
<link rel="stylesheet" href="{% static 'main/css/base.css' %}" />
{% endblock %}

{% block content %}
{% load main_extras %}
<div class="container background">
    <h3>{{ courses_type|title }} courses</h3>
    <table id="courseTableId" class="cell-border stripe hover table">
        <thead>
            <tr>
            <th scope="col">№</th>
            <th scope="col">Course</th>
            <th scope="col">Rating</th>
            {% if courses_type|lower == 'completed' %}
            <th scope="col">Result</th>
            <th scope="col">Certificate</th>
            {% endif %}
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.rating|floatformat:"1"|default:"course wasn't rated" }}</td>
                {% if courses_type|lower == 'completed' %}
                    {% if is_passed|get_list_item:forloop.counter0 %}
                    <td><i class="fas fa-check done"></i></td>
                    {% comment %} <td><a href="{% url 'course_cert' course_pk=course.pk %}"><img class="medal" src="{% static 'main/image/medal.svg' %}"/></a></td> {% endcomment %}
                    <td><a href="{% url 'course_cert' course_pk=course.pk %}"><i class="fas fa-arrow-circle-down download"  title="download certificate"></i></a></td>
                    {% else %}
                    <td><i class="fas fa-times not-done"></i></td>
                    <td></td>
                    {% endif %}
                {% endif %}
                <td><a href="{% url 'course_detail' course_pk=course.pk %}"><i class="fas fa-info"  title="course info"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js_scripts %}
<script src="https://kit.fontawesome.com/e278b3cacc.js" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="{% static 'main/datatables/datatables.min.js' %}">
</script>
<script>
$(document).ready(function(){
  $("#courseTableId").DataTable();
  addClassByName('courseTableId_length', ' table-select mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect');

  function addClassByName(name, class_) {
        var elements = document.getElementsByName(name);
        elements.forEach(function (item, index) {
            item.className += class_;
        });
    }
});
</script>
{% endblock %}