{% extends "main/base.html" %}

{% block title %}
Home
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}" />
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<div class="container">
    <div class="img-banner">
        <img class="img-fluid" src="{% static 'main/image/img-banner.jpg' %}" alt="img_banner" />
        <div class="darker-img"></div>
    </div>
    <div class="centered">
        <h1 class="text-white">Your Course to success</h1>
        <p class="text-white">Improve your skills with eLearning</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'registration'  %}" role="button">Join</a>
        </p>
    </div>
</div>
{% else %}
<div class="home-grid">
    {% for courses in courses_set%}
    <div class="courses-block">
        <div class="course-name">
            {{ courses.name }}
        </div>
        <div class="course-block">
        {% for course in courses.courses %}
            <div class="course-item">
                <img src="{{ course.cover.url }}">
                <a href="{% url 'course_detail' course_pk=course.pk %}">
                    {{ course.name }}
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}