{% extends "main/base.html" %}

{% block title %}
Home
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}" />
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<div class="container">
    <div class="img-banner">
        <img class="img-fluid" src="{% static 'main/image/img-banner.jpg' %}" alt="img_banner" />
        <div class="darker-img"></div>
    </div>
    <div class="centered">
        <h1 class="text-white">Your Course to success</h1>
        <p class="text-white">Improve your skills with eLearning</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'registration'  %}" role="button">Join</a>
        </p>
    </div>
</div>
{% else %}
<div class="container">
    {% for courses in courses_set%}
    {% if forloop.first %}
    <div class="row">
    {% endif %}
    {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
    {% endif %}
        <div class="col">
            <h6 class="text-muted">{{ courses.name }}</h6>
            <ul class="list-group">
                {% for course in courses.courses %}
                <li class="text-dark list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'course_detail' course_pk=course.pk %}">{{ course.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% if forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}