{% extends "main/base.html" %}

{% block title %}
Home
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}" />
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<div class="background">
    <div class="image-container">
        <div class="banner">
            <div class="banner-content">
                <h3>Your Course to success</h3>
                <h3>Improve your skills with eLearning</h3>
                <a href="{% url 'registration'  %}">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect join-btn"
                            type="submit">Join</button>
                </a> 
            </div>
        </div>
    </div>
    <div class="advantages">
        <div>
            <i class="fas fa-user-friends pirple"></i>
            <h4>Online Learning helps us stay relevant in a quickly changing world</h4>
        </div>

        <div>
            <i class="fas fa-hourglass-half pirple"></i>
            <h4>E-Learning is resource efficient</h4>
        </div>

        <div>
            <i class="fas fa-laptop pirple"></i>
            <h4>Online Learning is more accessible to all</h4>
        </div>

        <div>
            <i class="fas fa-user-graduate pirple"></i>
            <h4>Upskilling is becoming increasingly necessary</h4>
        </div>
    </div>
    <div class="head">
        <h3>World-class learning for anyone, anywhere
    </div>
    <div class="item-grid">
        <div class="item-grid-cell">
            <h4>Learn & Travel</h4>
            <h6>
                Discover the world and study! No need to attend classroom to learn! 
                Just open your laptop and go!
            </h6>
        </div>
        <div class="item-grid-cell">
            <img class="travel-img" src="{% static 'main/image/travel.jpg' %}">
        </div>
    </div>
    <div class="item-grid">
        <div class="item-grid-cell">
            <img class="travel-img" src="{% static 'main/image/time.jpg' %}">
        </div>
        <div class="item-grid-cell">
            <h4>Learn when you can</h4>
            <h6>
                Pick your learning time! No need to waste time on the road! 
                Just learn when you can!
            </h6>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="home-grid">
        {% for courses in courses_set%}
        <div class="courses-block">
            <div class="courses-name">
            {% if "current" in courses.name|lower %}
                <a class="courses-name" href="{% url 'current_courses' %}">
            {% elif "users" in courses.name|lower %}
                <a class="courses-name" href="{% url 'users_courses' %}">
            {% elif "starred" in courses.name|lower %}
                <a class="courses-name" href="{% url 'starred_courses' %}">
            {% elif "completed" in courses.name|lower %}
                <a class="courses-name" href="{% url 'completed_courses' %}">
            {% elif "recomended" in courses.name|lower %}
                <a class="courses-name" href="{% url 'recomended_courses' %}">
            {% endif %}
                    {{ courses.name }}
                </a>
            </div>
            <div class="course-block">
            {% for course in courses.courses %}
                <div class="course-item">
                    <a href="{% url 'course_detail' course_pk=course.pk %}">
                        <img class="course-cover" src="{{ course.cover.url }}">
                    </a>
                    <a class="course-name" href="{% url 'course_detail' course_pk=course.pk %}">
                        {{ course.name }}
                    </a>
                </div>
            {% empty %}
                <div class="no-courses">
                    {% if "current" in courses.name|lower %}
                    You haven't started learning.
                    {% elif "users" in courses.name|lower %}
                    There are no courses created by users.
                    {% elif "starred" in courses.name|lower %}
                    You haven't starred any course.
                    {% elif "completed" in courses.name|lower %}
                    You haven't completed any course.
                    {% elif "recommended" in courses.name|lower %}
                    There are no reated courses.
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block js_scripts %}
<script src="https://kit.fontawesome.com/e278b3cacc.js" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    document.querySelectorAll("div.course-block").forEach(function(parent) {
        parent.childNodes.forEach(function(child) {
            if (child.className === "no-courses") {
                parent.classList.remove("course-block");
            }
        })
    })
});
</script>
{% endblock %}