{% extends 'main/base.html' %}

{% block title %}
Course list
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'courses/datatables/heavy/datatables.min.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/course_list.css' %}" />
{% endblock %}

{% block content %}
<div class="container background">
  <a href="{% url 'course_create' %}">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect add-button button">add course</button>
  </a>
  <div class="table-wrapper">
    <table id="courseTableId" class="cell-border stripe hover table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Course</th>
          <th scope="col">Rating</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for course in course_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.rating|floatformat:"1"|default:"course wasn't rated" }}</td>
            <td>
              <a href="{% url 'course_edit' course_pk=course.pk %}"><i class="far fa-edit" title="edit"></i></a>
              <a href="{% url 'course_statistics' course_pk=course.pk %}"><i class="fas fa-signal" title="statistics"></i></a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block js_scripts %}
<script src="https://kit.fontawesome.com/e278b3cacc.js" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="{% static 'courses/datatables/heavy/datatables.min.js' %}">
</script>

<script>
$(document).ready(function(){
  $("#courseTableId").DataTable();
  addClassByName('courseTableId_length', ' table-select mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button');

  function addClassByName(name, class_) {
        var elements = document.getElementsByName(name);
        elements.forEach(function (item, index) {
            item.className += class_;
        });
    }
});
</script>
{% endblock %}

