{% extends 'main/base.html' %}

{% block title %}
Course detail
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'courses/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/course_detail.css' %}" />
{% endblock %}

{% block content %}

<div class="container-grid background">
    <form id="follow_form" method="post" action="{% url 'course_welcom' course_pk=course_pk%}">
        {% csrf_token %}
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect follow-button button"
                    type="submit">Follow</button>
    </form>

    <div class="course-grid ">
        <div class="image-position">
            <img class="course-cover" src="{{ course.cover.url }}" alt="{{ course.name }}">
        </div>
        <div class="course-data-position">
            <label class="text-data">
                <div class="bold">
                    Course name:
                </div>
                {{ course.name }}
            </label>

            <label class="text-data">
                <div class="bold">
                    Course author:
                </div>
                {{ course.owner_user.first_name}}
                {{ course.owner_user.last_name}}
            </label>
            
            <label class="text-data">
                <div class="bold">
                    Course rating:
                </div>
                {{ course.rating|default:"course wasn't rated" }}
            </label>
            
            <label class="text-data">
                <div class="bold">
                    Course content:
                </div>
                {% autoescape off %}{{ course.content }}{% endautoescape %}
            </label>
        </div>
    </div>
</div>

{% endblock %}

