{% extends 'main/base.html' %}

{% block title %}
Course enrollment detail
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/dt/dt-1.10.20/cr-1.5.2/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
{% load static %}
<link rel="stylesheet" href="{% static 'courses/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/course_welcom.css' %}" />
{% endblock %}

{% block content %}
{% if not course_enrollment.finished_at %}
<a href="{% url 'course_page' course_pk=course_enrollment.course.pk page_pk=current_page.pk%}">
    <button class="float-right btn btn-lg btn-primary" type="submit">Continue</button>
</a>
{% endif %}
<div class="container-grid">
    <div class="table-col background">
        <div class="table-wrapper">

            {% if course_enrollment.finished_at %}
                {% if course_enrollment.course.min_pass_grade <= grade %}
                    <span class=" is-approved stamp ">
                        Approved
                    </span>
                {% else %}
                    <span class=" is-approved stamp red">
                        Not approved
                    </span>
                {% endif %}
            {% endif %}

            <label class="text-data">
                <div class="bold inline">
                Progress:
                </div>
                {{ course_enrollment.progress|default:"0" }}%
            </label>
            <div id="progressId" class="mdl-progress mdl-js-progress progress"></div>
                   
            <table id="pageTableId" class="cell-border stripe hover table">
                <thead>
                    <tr>
                        <th scope="col">Page number</th>
                        <th scope="col">Done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in page_list %}
                    <tr>
                        {% if course_enrollment.current_page.number > page.number or course_enrollment.finished_at %}
                        <td>
                            <a href="{% url 'course_page' course_pk=course_enrollment.course.pk page_pk=page.pk %}">
                            {{page.number}}
                            </a>
                        </td>
                        <td><i class="fas fa-check done"></i></td>
                        {% else %}
                        <td>{{page.number}}</td>
                        <td><i class="fas fa-times not-done"></i></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="course-data-col background">
        <div class="course-description-block">
            <div class="border-content">
                
                <img class="course-cover" src="{{ course_enrollment.course.cover.url }}" alt="{{ course.name }}">

                <label class="text-data">
                    <div class="bold">
                        Course content:
                    </div>
                    {{ course_enrollment.course.content }}
                </label>
            </div>
        </div>
        <div class="course-progress-block">
            <div class="border-content">

                {% if course_enrollment.finished_at %}
                
                <label class="text-data">
                    <div class="bold">
                        Finished at:
                    </div>
                    {{ course_enrollment.finished_at|default:"you haven't finished" }}
                </label>
                    
                <label class="text-data">
                    <div class="bold">
                        Grade:
                    </div>
                    {{ grade|default:"you haven't started to study" }}
                    {% if grade %}
                    of {{ total_grade }}
                    {% endif %}
                </label>
                {% endif %}

                <label class="text-data">
                    <div class="bold">
                        Course name:
                    </div>
                    {{ course_enrollment.course.name }}
                </label>

                <label class="text-data">
                    <div class="bold">
                        Course author:
                    </div>
                    {{ course_enrollment.course.owner_user.first_name}}
                    {{ course_enrollment.course.owner_user.last_name}}
                </label>

                <label class="text-data">
                    <div class="bold">
                        Course rating:
                    </div>
                    {{ total_rate|default:"course wasn't rated" }}
                </label>

                <label class="text-data">
                    <div class="bold">
                        Started at:
                    </div>
                    {{ course_enrollment.started_at }}
                </label>

                {% if not course_enrollment.finished_at %}
                    <label class="text-data">
                        <div class="bold">
                            Current page:
                        </div>
                        {{ course_enrollment.current_page.number|default:"you haven't started to study" }}
                    </label>

                    <label class="text-data">
                        <div class="bold">
                            Points:
                        </div>
                        {{ course_enrollment.points|default:"you haven't started to study" }}
                        {% if course_enrollment.points %}
                        of {{ total_points }}
                        {% endif %}
                    </label>
                {% endif %}


            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_scripts %}
<script src="https://kit.fontawesome.com/e278b3cacc.js" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/dt-1.10.20/cr-1.5.2/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js">
</script>

<script>
$(document).ready(function(){
  $("#pageTableId").DataTable( {
        searching: false,
        ordering: false
    });

    document.querySelector('#progressId').addEventListener('mdl-componentupgraded', function() {
        this.MaterialProgress.setProgress("{{ course_enrollment.progress }}");
    });

  addClassByName('pageTableId_length', ' table-select mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect');

  function addClassByName(name, class_) {
        var elements = document.getElementsByName(name);
        elements.forEach(function (item, index) {
            item.className += class_;
        });
    }
});
</script>
{% endblock %}
