{% extends 'main/base.html' %}

{% block title %}
Course detail
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'courses/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/course_detail.css' %}" />
{% endblock %}

{% block content %}

<div class="container-grid background">
    <div class="btn-grid">
        <div class="fav-div">
            <i id="favId" class="fas fa-star fav-i"></i>
        </div>
        <form id="follow_form" method="post" action="{% url 'course_welcom' course_pk=course_pk%}">
            {% csrf_token %}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect follow-button button"
                        type="submit">Follow</button>
        </form>
    </div>

    <div class="course-grid ">
        <div class="image-position">
            <img class="course-cover" src="{{ course.cover.url }}" alt="{{ course.name }}">
        </div>
        <div class="course-data-position">
            <label class="text-data">
                <div class="bold">
                    Course name:
                </div>
                {{ course.name }}
            </label>

            <label class="text-data">
                <div class="bold">
                    Course author:
                </div>
                {{ course.owner_user.first_name}}
                {{ course.owner_user.last_name}}
            </label>
            
            <label class="text-data">
                <div class="bold">
                    Course rating:
                </div>
                {{ course.rating|default:"course wasn't rated" }}
            </label>
            
            <label class="text-data">
                <div class="bold">
                    Course content:
                </div>
                {% autoescape off %}{{ course.content }}{% endautoescape %}
            </label>
        </div>
    </div>
</div>

{% endblock %}

{% block js_scripts %}
<script src="https://kit.fontawesome.com/e278b3cacc.js" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    addPressClass("{{ is_fav }}");

    function addPressClass(is_fav) {
        if (is_fav === "True") {
            i_el = document.getElementById('favId');
            i_el.classList.add("press");
        }

    }

    $( "i" ).click(async function() {
        $( "i,span" ).toggleClass( "press", 1000 );

        data = {}
        data["is_pressed"] = false;
        document.getElementById('favId').classList.forEach(function(item){
                if (item === "press") {
                    data["is_pressed"] = true;
                }
            });

        let csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0];

        let response = await fetch("{% url 'course_add_favorite' course_pk=course_pk %}", {
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": csrf_token.value,
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    //data: formData
                    body: JSON.stringify(data)
        });

        let result = response.json().then(function(serverData){
            //console.log(serverData);
            if (serverData.view_status === false) {
                alert("PROBLEMS WITH VIEW!");
            }
        });
    });
})
</script>
{% endblock %}
