{% extends 'main/base.html' %}
{% load course_extras %}

{% block title %}
Course page
{% endblock %}

{% block styles %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% load static %}
<link rel="stylesheet" href="{% static 'courses/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/course_page.css' %}" />
{% endblock %}

{% block content %}
<dialog class="mdl-dialog">
    <div class="mdl-dialog__content">
        <p>
            Please, rate course
        </p>
        <form>
            {% csrf_token %}
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="5">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="4">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="3">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="2">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="1">1 star</label>
            </div>
        </form>
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <button id="closeButtonId" type="button" class="mdl-button close">Close</button>
        <button id="rateButtonId" type="button" class="mdl-button">Rate</button>
    </div>
</dialog>
<div class="container background">
    <div class="page-content-wrapper">

        <a href="{% url 'course_welcom' course_pk=course_pk %}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    type="submit">To course</button>
        </a>

        <label class="text-data">
            <div class="bold part">
                Page content
            </div>
            {{ current_page.content }}
        </label>

        <div class="questions">
            <div class="bold part">
                Questions
            </div>
            {% if 'submit' in button_type|lower %}
            <form method="post" action="{% url 'course_page' course_pk=course_pk page_pk=page_pk %}">
            {% endif %}
            {% csrf_token %}
            {% for task in tasks %}

            <label class="text-data bold" id="q_{{ task.question.pk }}">
                {{ forloop.counter }}. {{ task.question.content }}
            </label>

            <p>
                {% for variant in task.variants %}
                <p>
                    <div class="variant" id="v_{{ variant.pk }}">
                        <label>
                        {{ variant.content }}
                        </label>
                    </div>
                </p>  
                {% endfor %}
            </p>
            {% endfor %}

            {% if 'next' in button_type|lower %}
            <a href="{% url 'course_page' course_pk=course_pk page_pk=next_page_pk %}">
            {% elif 'finish' in button_type|lower or 'to course enrollment detail' in button_type|lower %}
            <a href="{% url 'course_welcom' course_pk=course_pk %}">
            {% endif %}

            <button id="buttonId" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    type="submit">{{button_type}}</button>

            {% if 'submit' in button_type|lower %}
            </form>
            {% else %}
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
$(document).ready(function() {
    addClassById("{{ correct_questions }}", " correct");
    addClassById("{{ user_variants }}", " user-answer");

    if ("{{ button_type }}" === "Finish" && "{{ finished }}" == "False") {
        var dialog = document.querySelector('dialog');
        dialog.showModal();

        dialog.querySelector('.close').addEventListener('click', function() {
            dialog.close();
        });
    }
        
    $("#rateButtonId").click(async function() {
        let rate = $("input[name='rate']:checked").val();
        let post_data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            user: "{{ user }}",
            course_pk: "{{ course_pk }}",
            rate: rate
        };
        console.log(post_data);

        let response = await fetch("{% url 'course_rate' course_pk=course_pk %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(post_data)
        });

        var dialog = document.querySelector('dialog');
        dialog.close();
    });

    function addClassById(element_ids, class_) {
        //console.log(element_ids)
        if (element_ids != "None" && element_ids) {
            element_ids_ = element_ids.split(' ');
            element_ids_.forEach(function (item, index) {
                console.log(item)
                element = document.getElementById(item);
                element.className += class_;
            });
        }
    }
});
</script>
{% endblock %}