{% extends 'main/base.html' %}

{% block title %}
Course detail
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css"
    href="{% static 'courses/datatables/light/datatables.min.css' %}"/>
<link rel="stylesheet" href="{% static 'courses/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/course_edit.css' %}" />
{% endblock %}

{% block content %}
{% if 'edit' in view|lower %}
<div class="course-grid">
    <div class="form-col background">
    {% endif %}
        {% if 'edit' in view|lower %}
        <form id="course_form" method="post" enctype="multipart/form-data"
            action="{% url 'course_edit' course_pk=course_pk %}">
        {% else %}
        <form id="course_form" method="post" enctype="multipart/form-data"
            action="{% url 'course_create' %}">
        {% endif %}
            {% csrf_token %}
            
            {% if 'edit' not in view|lower %}
            <div class="container background">
            {% endif %}
                <div class="course-form-grid">

                    <div class="form-input-item">
                        <label>Course name</label>
                        <input type="text" name="name" id="inputName" class="glowing-border text-input" required
                            value="{{form.initial.name}}">
                    </div>

                    {% if form.name.errors %}
                    <div class="form-input-item">
                        <label class="error-label">
                            {% for error in form.name.errors%}
                            {{ error|default:"" }}
                            {% endfor %}
                        </label>
                    </div>
                    {% endif %}

                    <div class="form-input-item">
                        <label>Minimum pass grade</label>
                        <input type="text" name="min_pass_grade" id="inputMinPassGrade" class="glowing-border text-input" required
                            value="{{form.initial.min_pass_grade}}">
                    </div>

                    {% if form.min_pass_grade.errors %}
                    <div class="form-input-item">
                        <label class="error-label">
                            {% for error in form.min_pass_grade.errors%}
                            {{ error|default:"" }}
                            {% endfor %}
                        </label>
                    </div>
                    {% endif %}


                    <div class="form-input-item">
                        <label>Choose type</label>
                        {% comment %} Дергается чего-то {% endcomment %}
                        <select id="typeId" class="select" name="type" required>
                            {% for type, type_name in course_types %}
                            <option value="{{type}}">{{type_name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% if form.type.errors %}
                    <div class="form-input-item">
                        <label class="error-label">
                            {% for error in form.type.errors%}
                            {{ error|default:"" }}
                            {% endfor %}
                        </label>
                    </div>
                    {% endif %}

                    <div class="form-input-item">
                        <label>Choose status</label>
                        {% comment %} Дергается чего-то {% endcomment %}
                        <select id="statusId" class="select" name="status" required>
                            {% for status, status_name in course_statuses %}
                            <option value="{{status}}">{{status_name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% if form.status.errors %}
                    <div class="form-input-item">
                        <label class="error-label">
                            {% for error in form.status.errors%}
                            {{ error|default:"" }}
                            {% endfor %}
                        </label>
                    </div>
                    {% endif %}

                    <div class="form-input-item">
                        <label>Description</label>
                        <textarea id="inputContent" name="content">{{form.initial.content}}</textarea>
                    </div>

                    {% if form.content.errors %}
                    <div class="form-input-item">
                        <label class="error-label">
                            {% for error in form.content.errors %}
                            {{ error|default:"" }}
                            {% endfor %}
                        </label>
                    </div>
                    {% endif %}

                    <div class="form-input-item">
                        {% if 'edit' in view|lower %}
                            <label> Current cover:</label>
                            <p>
                                <img class="course-cover" src="{{ cover_url }}" alt="{{ form.initial.name }}">
                            </p>
                            <label> Change cover:</label>
                        {% else %}
                            <label> Upload cover:</label>
                        {% endif %}
                        <input class="upload-file" type="file" name="cover" id="inputCover" placeholder="Course cover">
                    </div>
                </div>

                {% comment %} 
                # TODO: Always displays error "Upload a valid image. The file you uploaded was either not an image or a corrupted image."
                # Is it because of bound form?
                {% for error in form.cover.errors%}
                <p style="color:red;">{{ error|default:"" }}</p>
                {% endfor %} {% endcomment %}

                {% if form.non_field_errors %}
                <label class="error-label">{{ form.non_field_errors|default:"" }}</label>
                {% endif %}

                {% if success_message %}
                <label class="success-label">{{success_message}}</label>
                {% endif %}

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit-button button" type="submit">Save changes</button>
            {% if 'edit' not in view|lower %}
            </div>
            {% endif %}
        </form>
    {% if 'edit' in view|lower %}
        </div>
        <div class="page-col background">
            <a href="{% url 'page_create' course_pk=course_pk %}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect add-button button" type="submit">Add page</button>
            </a>
            <div class="table-wrapper">
                <table id="pageTableId" class="cell-border stripe hover table">
                    <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Page</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in page_list %}
                        <tr>
                            <td>{{ page.number }}</td>
                            <td>{% autoescape off %}{{ page.content }}{% endautoescape %}</td>
                            <td><a href="{% url 'page_edit' course_pk=course_pk page_pk=page.pk %}"><i class="far fa-edit"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block js_scripts %}
<script src="https://kit.fontawesome.com/e278b3cacc.js" crossorigin="anonymous"></script>
<script type="text/javascript"
    src="{% static 'courses/datatables/light/datatables.min.js' %}">
</script>
<script type="text/javascript" src="{% static 'courses/tinymce/js/tinymce/tinymce.min.js' %}">
</script>
<script>
$(document).ready(function() {
    tinymce.init({
        selector: "textarea",
        height: "480",
        plugins: "codesample, link, lists",
        content_style: 'body { font-size: calc(16px + .6vw) !important };'
    });
    $("#pageTableId").DataTable( {
        searching: false,
        ordering: false
    });
    selectElement('typeId', '{{ type }}');
    selectElement('statusId', '{{ status }}');
    addClassByName('pageTableId_length', ' table-select mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button');

    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    function addClassByName(name, class_) {
        var elements = document.getElementsByName(name);
        elements.forEach(function (item, index) {
            item.className += class_;
        });
    }
});
</script>
{% endblock %}