{% extends 'main/base.html' %}
{% load course_extras %}

{% block title %}
Course page
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'courses/css/course_page.css' %}" />
{% endblock %}

{% block content %}
<p>
    <label>Page number:</label>
    {{ current_page.number }}
</p>
<p>
    <label>Page content:</label>
    {{ current_page.content }}
</p>

{% if 'Submit' in button_type %}
<form method="post" action="{% url 'course_page' course_pk=course_pk page_pk=page_pk %}">
{% endif %}
{% csrf_token %}
{% for task in tasks %}
<p>
    <label id="q_{{ task.question.pk }}">
        Question:
    </label>
    {{ task.question.content }}
</p>
<p>
    <label>Variants:</label>
    {% for variant_pk, variant in task.variants %}
    <p>
        <label>
            <input type="{{ task.question_types|get_item:task.question.type }}" value="{{ variant }}" 
                name="{{task.question.pk}}"
                id="q_{{ task.question.pk}}_v_{{ variant_pk }}"
                {% if forloop.first and task.question_types|get_item:task.question.type == 'radio' %}
                required
                checked
                {% endif %}>
            {{ variant }}
        </label> 
    </p>  
    {% endfor %}
</p>
{% endfor %}
{% if 'Next' in button_type %}
<a href="{% url 'course_page' course_pk=course_pk page_pk=next_page_pk %}">
{% elif 'Finish' in button_type %}
<a href="{% url 'course_welcom' course_pk=course_pk %}">
{% endif %}
<button id="buttonId" class="float-left btn btn-lg btn-primary" type="submit">{{button_type}}</button>
{% if 'Submit' in button_type %}
</form>
{% else %}
</a>
{% endif %}
{% endblock %}

{% block js_scripts %}
<script>
$(document).ready(function() {
    setCorrectQuestions('{{ correct_questions }}');

    function setCorrectQuestions(correct_questions) {
        if (correct_questions != 'None') {
            correct_questions_ = correct_questions.split(' ');
            correct_questions_.forEach(function (item, index) {
            correct_question = document.getElementById(item);
            correct_question.className += "correct";
        });
        }
    }
});
</script>
{% endblock %}