{% extends 'main/base.html' %}

{% block title %}
Page detail
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css"
    href="{% static 'courses/datatables/light/datatables.min.css' %}"/>
<link rel="stylesheet" href="{% static 'courses/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/page_edit.css' %}" />
{% endblock %}

{% block content %}
{% if 'edit' in view|lower %}
<div class="page-grid">
    <div class="back-button-position">
        <a href="{% url 'course_edit' course_pk=course_pk %}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button" 
                    type="button"><i class="fas fa-arrow-left arrow-left"></i></button>
        </a>
    </div>
    <div class="form-col background">
{% endif %}
        {% if 'edit' in view|lower %}
        <form class="form-page" id="page_form" method="post" action="{% url 'page_edit' course_pk=course_pk page_pk=page_pk %}">
        {% else %}
        <form class="form-page" id="page_form" method="post" action="{% url 'page_create' course_pk=course_pk%}">
        {% endif %}
            {% csrf_token %}

            {% if 'edit' not in view|lower %}
            <div class="back-button-position">
                <a href="{% url 'course_edit' course_pk=course_pk %}">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button" 
                    type="button"><i class="fas fa-arrow-left arrow-left"></i></button>
                 </a>
            </div>
            <div class="container background">
            {% endif %}
                <div class="page-form-grid">

                    <div class="form-input-item">
                        <label>Page number</label>
                        <input type="text" name="number" id="inputNumber" class="text-input readonly-input" required
                                value="{% firstof page_number form.initial.number %}"
                                readonly>
                    </div>

                    {% if form.name.errors %}
                    <div class="form-input-item">
                        <label class="error-label">
                            {% for error in form.number.errors %}
                            {{ error|default:"" }}
                            {% endfor %}
                        </label>
                    </div>
                    {% endif %}

                    <div class="form-input-item">
                        <label>Description</label>
                        <textarea name="content" id="inputContent" required>{{form.initial.content}}</textarea>
                    </div>

                    {% if form.name.errors %}
                    <div class="form-input-item">
                        <label class="error-label">
                            {% for error in form.content.errors %}
                            {{ error|default:"" }}
                            {% endfor %}
                        </label>
                    </div>
                    {% endif %}

                    {% if form.non_field_errors %}
                    <label class="error-label">{{ form.non_field_errors|default:"" }}</label>
                    {% endif %}

                    {% if success_message %}
                    <label class="success-label">{{success_message}}</label>
                    {% endif %}

                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit-button button" type="submit">Save changes</button>
                </div>
            {% if 'edit' not in view|lower %}
            </div>
            {% endif %}
        </form>
    {% if 'edit' in view|lower %}
        </div>
        <div class="add-button-position">
            <a href="{% url 'question_create' course_pk=course_pk page_pk=page_pk %}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect add-button button"
                        type="submit">Add question</button>
            </a>
        </div>
        <div class="page-col background">
            <div class="table-wrapper">
                <table id="questionTableId" class="cell-border stripe hover table">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Question</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in question_list %}
                        {% load course_extras %}
                        <tr>
                            <td>{{ question_types|get_item:question.type }}</td>
                            <td>{{question.content}}</td>
                            <td><a href="{% url 'question_edit' course_pk=course_pk page_pk=page_pk question_pk=question.pk %}"><i class="far fa-edit"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block js_scripts %}
<script src="https://kit.fontawesome.com/e278b3cacc.js" crossorigin="anonymous"></script>
<script type="text/javascript"
    src="{% static 'courses/datatables/light/datatables.min.js' %}">
</script>
<script type="text/javascript" src="{% static 'courses/tinymce/js/tinymce/tinymce.min.js' %}">
</script>

<script>
$(document).ready(function() {
    tinymce.init({
        selector: "textarea",
        height: "480",
        plugins: "codesample, link, lists",
        content_style: 'body { font-size: calc(16px + .6vw) !important };'
    });

    $("#questionTableId").DataTable( {
        searching: false,
        ordering: false
    });
    addClassByName('questionTableId_length', ' table-select mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button');

    function addClassByName(name, class_) {
        var elements = document.getElementsByName(name);
        elements.forEach(function (item, index) {
            item.className += class_;
        });
    }
});
</script>
{% endblock %}
