{% extends 'main/base.html' %}

{% block title %}
Page detail
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/dt/dt-1.10.20/r-2.2.3/sc-2.0.1/datatables.min.css"/>
<link rel="stylesheet" href="{% static 'courses/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/page_edit.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <a href="{% url 'course_edit' course_pk=course_pk %}">
        <button class="float-left btn btn-lg btn-primary" type="submit">Back to course edit</button>
    </a>
</div>
<div class="row">
    <div class="col">
        {% if 'edit' in view %}
        <form class="form-page" id="page_form" method="post" action="{% url 'page_edit' course_pk=course_pk page_pk=page_pk %}">
        {% else %}
        <form class="form-page" id="page_form" method="post" action="{% url 'page_create' course_pk=course_pk%}">
        {% endif %}
            {% csrf_token %}

            {% if 'edit' not in view %}
            <div class="container">
            {% endif %}
                <div class="page-form-grid">

                    <div class="form-input-item">
                        <label>Page number</label>
                        <input type="text" name="number" id="inputNumber" class="text-input readonly-input" required
                                value="{% firstof page_number form.initial.number %}"
                                readonly>
                    </div>

                    {% if form.name.errors %}
                    <div class="form-input-item">
                        <label class="error-label">
                            {% for error in form.number.errors %}
                            {{ error|default:"" }}
                            {% endfor %}
                        </label>
                    </div>
                    {% endif %}

                    <div class="form-input-item">
                        <label>Description</label>
                        <input type="text" name="content" id="inputContent" class="glowing-border text-input" required
                                value="{{form.initial.content}}">
                    </div>

                    {% if form.name.errors %}
                    <div class="form-input-item">
                        <label class="error-label">
                            {% for error in form.content.errors %}
                            {{ error|default:"" }}
                            {% endfor %}
                        </label>
                    </div>
                    {% endif %}

                    {% if form.non_field_errors %}
                    <lanel class="error-label">{{ form.non_field_errors|default:"" }}</label>
                    {% endif %}

                    {% if success_message %}
                    <label class="success-label">{{success_message}}</label>
                    {% endif %}

                    <button class="submit-button" type="submit">Save changes</button>
                </div>
            {% if 'edit' not in view %}
            </div>
            {% endif %}
        </form>
    </div>
    {% if 'edit' in view %}
    <div class="col">
        <a href="{% url 'question_create' course_pk=course_pk page_pk=page_pk %}">
            <button class="add-page-button" type="submit">Add question</button>
        </a>
        <table id="questionTableId" class="cell-border stripe hover">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Question</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for question in question_list %}
                {% load course_extras %}
                <tr>
                    <th scope="row">{{ question_types|get_item:question.type }}</th>
                    <td>{{question.content}}</td>
                    <td><a href="{% url 'question_edit' course_pk=course_pk page_pk=page_pk question_pk=question.pk %}">edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js_scripts %}
<script src="https://kit.fontawesome.com/e278b3cacc.js" crossorigin="anonymous"></script>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/dt/dt-1.10.20/r-2.2.3/sc-2.0.1/datatables.min.js">
</script>

<script>
$(document).ready(function() {
    $("#questionTableId").DataTable( {
        searching: false,
        ordering: false
    });
});
</script>
{% endblock %}
