{% extends 'main/base.html' %}

{% block title %}
Variant detail
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'courses/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'courses/css/variant_edit.css' %}" />
{% endblock %}

{% block content %}
<div class="back-button-position">
    <a href="{% url 'question_edit' course_pk=course_pk page_pk=page_pk question_pk=question_pk %}">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
        type="button"><i class="fas fa-arrow-left arrow-left"></i></button>
    </a>
</div>
<div class="container background">
    {% if 'edit' in view|lower %}
    <form class="form-variant" id="variant_form" method="post" action="{% url 'variant_edit' course_pk=course_pk page_pk=page_pk question_pk=question_pk variant_pk=variant_pk %}">
    {% else %}
    <form class="form-variant" id="variant_form" method="post" action="{% url 'variant_create' course_pk=course_pk page_pk=page_pk question_pk=question_pk %}">
    {% endif %}
        {% csrf_token %}
        <div class="variant-form-grid">

            <div class="form-input-item">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect  checkbox-input" for="checkboxId">
                    <input type="checkbox" id="checkboxId" name="is_correct"
                        class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">is correct</span>
                </label>
            </div>

            {% for error in form.is_correct.errors%}
            <p style="color:red;">{{ error|default:"" }}</p>
            {% endfor %}

            <div class="form-input-item">
                <label>Description</label>
                <textarea name="content" id="inputContent" class="glowing-border text-area" required>{{form.initial.content}}</textarea>
            </div>
            </div>

            {% if form.name.errors %}
            <div class="form-input-item">
                <label class="error-label">
                    {% for error in form.content.errors %}
                    {{ error|default:"" }}
                    {% endfor %}
                </label>
            </div>
            {% endif %}

            {% if form.non_field_errors %}
            <label class="error-label">{{ form.non_field_errors|default:"" }}</label>
            {% endif %}

            {% if success_message %}
            <label class="success-label">{{success_message}}</label>
            {% endif %}

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit-button" type="submit">Save changes</button>
        </div>
    </form>
</div>
{% endblock %}

{% block js_scripts %}
<script src="https://kit.fontawesome.com/e278b3cacc.js" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
    checkElement('checkboxId', '{{ is_correct }}')

    function checkElement(id, is_correct) {
        let element = document.getElementById(id);
        console.log(is_correct);
        if (is_correct == "True") {
            element.checked = true;
        }
    }
});
</script>
{% endblock %}