{% extends "main/base.html" %}
{% block title %}
Login
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/base.css' %}"/>
{% endblock %}

{% block content %}
<div class="container background">
    <h2 class="text-center">Login</h2>
    <form class="form-signin" id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="login-form-grid">

            <div class="form-input-item">
                <label>Email</label>
                <input type="email" name="email" id="inputEmail" class="glowing-border text-input" required>
            </div>

            {% if form.email.errors %}
            <div class="form-input-item">
                <label class="error-label">
                    {% for error in form.email.errors%}
                    {{ error|default:"" }}
                    {% endfor %}
                </label>
            </div>
            {% endif %}

            <div class="form-input-item">
                <label>Password</label>
                <input type="password" name="password" id="inputPassword" class="glowing-border text-input" required>
            </div>

            {% if form.password.errors %}
            <div class="form-input-item">
                <label class="error-label">
                    {% for error in form.password.errors%}
                    {{ error|default:"" }}
                    {% endfor %}
                </label>
            </div>
            {% endif %}
            

            {% if form.non_field_errors %}
            <label class="error-label">{{ form.non_field_errors|default:"" }}</label>
            {% endif %}
        </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit-button"
            type="submit">Login</button>

    </form>
</div>
{% endblock %}
