<!DOCTYPE html>
<html>

<head>
    <title>
    eLearning
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/error.css' %}" />
</head>

<body>
    <div class="page-content">
        <h1>404</h1>
        <h2>ERROR</h2>
        <img class='error-image' src="{% static 'main/image/broken-robot.png' %}" alt='broken_robot'>
        <h1>PAGE NOT FOUND</h1>
</body>
</html>