.container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.background {
    background-color: #ffffff;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .05);
}

.done {
    color: green;
}

.not-done {
    color: red;
}