.header-grid {
    display: grid;
    grid-template-areas: "user-name" "nav";
    background-color: #ffffff;
    border-radius: 1em;
    padding: 25px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .05);
    font-size: calc(18px + .6vw);
}

.user-name {
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    text-align: center;
    border: 1px;
    color: #343a40;
}

.nav {
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
    border: 1px;
}

.nav>a {
    color: #343a40;
    text-decoration: none;
}

.nav>a:hover {
    color: black;
    text-decoration-line: underline;
}