.header-grid {
    display: grid;
    grid-template-areas: "user-name" "nav";
    grid-template-rows: 1fr 1fr;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 10px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .05);
}

.user-name {
    justify-self: start;
    align-self: center;
    text-align: center;
    padding: 8px;
    border: 1px;
    font-size: 1.7vw;
    color: #343a40;
}

.nav {
    justify-self: end;
    align-self: center;
    border: 1px;
    font-size: 1.5vw;
}

.nav>a {
    color: #343a40;
    text-decoration: none;
}

.nav>a:hover {
    color: black;
    text-decoration-line: underline;
}