.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.courses-block {
    /* margin: 10px; */
    padding: 4px;
}

.courses-block>h6 {
    display: grid;
}

.course-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 5px;
}

.course-name {
    font-size: 1.7vw;
    margin-bottom: 5px;
    text-align: center;
}

.course-item {
    color: #343a40;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.course-item>img {
    max-height: 128;
    max-width: 128;
    display: block;
}